<div class="jumbotron text-center text-white ">
  <h1 class="display-4">Hello, Friends!</h1>
  <p class="lead">Try our FREE chat application, meet new friends and make amazing Groups and Forums sharing your experience</p>
  <hr class="my-4">
  <p>Betat Version, Full forum coming soon.</p>
  <a class="btn btn-primary btn-lg" href="https://rails7chat.herokuapp.com/users/sign_in" role="button">Learn more</a>
</div>