/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
     overflow: hidden;

 }
.msg-form {
   margin-left: 0;
   width: 100%;
}
#single_room {
    height: calc(100vh - 150px);
}
#messages {
    height: calc(100vh - 150px);
    overflow-x: hidden;
    overflow-y: scroll;
}

#room_container {
    height: 100vh;
    margin-right: 0px !important;
}
#side_panel {
    height: 50vh;
    margin-right: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: 55px;
}
#chatroom_container {
    height: 100vh;
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

.msg-content{
    width: 80%;
    margin-right: 5px;
}

.message-box{
    word-wrap: break-word;
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #555555;
    padding: 10px;
} 


.jumbotron {
    background-image: url('https://images.unsplash.com/photo-1627843240167-b1f9d28f732e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
    height: 80vh;
    padding-top: 20vh;
}
